coreutils/bc/*.bc filter=lfs diff=lfs merge=lfs -text
jq/bc/*.bc filter=lfs diff=lfs merge=lfs -text
jq-harness/bc/*.bc filter=lfs diff=lfs merge=lfs -text
sqlite/bc/*.bc filter=lfs diff=lfs merge=lfs -text
